<launch>
    <node name="camera_publisher" pkg="hubert_ov_seg" type="camera_publisher.py" output="screen"/>
    <node name="hubert_ov_seg" pkg="hubert_ov_seg" type="hubert_ov_seg.py" output="screen"/>
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" output="screen" />

    <arg name="model" default="" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find myrobot_description)/urdf/test_robot.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- <arg name="use_gui" default="true" doc="Should the joint_state_publisher use a GUI for controlling joint states" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" /> --> -->

    <rosparam file="$(find myrobot_description)/config/joints.yaml" command="load" />

    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" /> -->
    <!-- <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" required="true" />  -->

    <arg  name="rviz_config" default="$(find myrobot_description)/rviz_config.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <node pkg="myrobot_description" type="talker.py" name="robot_demo" output="screen"/>

</launch>